*{
  margin: 0px;
  padding: 0px;
}
body{
    background-color: #95a5a6;
    font-family: sans-serif;
}

hr{
    margin: 0px;
    border-top: 3px double #8c8b8b;
}


.social-media>a{
    margin-right: 20px;
    color: inherit;
}
/**home**/
.home-bg{
    position: relative;
    background-image: url(images/bg2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;

    /*background-size: 100%; 800px;*/
    /*padding-top: 220px;*/
}
.home-greet{
  background-image: url(images/homegreeting.png);
  background-repeat: no-repeat;
  background-position: center;
  /*background-color: pink;*/
  top: 50%;
  position: absolute;
  width: 100%;
  height: 60px;
  margin-top: -30px;

}
.logo{
    display: block;
    margin-left: 50px;
    float: left;
}
.dropdown-menu{
    background-color: #222222;
}
.dropdown-menu li a{
    color: #777;
}
/**about**/
#about{
    background-color:  #d3d3d3;
    padding: 5% 2%;
}
.jumbotron{
    font-family: monospace;
     background-color:  #d3d3d3;
}
.jumbotron p{
    font-size: 1em;
    text-align: left;
}

img{
    margin: 2% auto;
    display:block
}
.main-content{
   padding: 2% 2%;
}

@media only screen and (max-width: 1005px){

    .main-content img{
            width: 90%;
    }

    .navbar, .dropdown-menu {
        opacity: .8;
         text-align: center;
    }

}
